/*light blue: #00B3E7 ;
contrast orange: #FE8D0B rgb(254, 141, 11)
orange lighter shade: #fea034
cobalt blue: #004AAD rgb(0, 74, 173)
dark blue: #003A79
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', Arial, sans-serif;*/

main, footer {
    max-width: 980px;
    margin: 0 auto;
  }

main .heroSummary{
  display: block;
  height: auto;
  max-width: 1100px;
}
.mountainphoto {
  display: block;
  width: 100%;
  height: auto;
}
header, main, footer, table{ 
  font-family: "Roboto", Arial, sans-serif;
}
.hideannouncement {
  display: none;
}
.showAnnouncement {
  background-color: #003A79;
  color: white;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2rem;
  padding: 1px;
  text-align: center;
}
.title h1 {
  font-family: "Open Sans", Arial, sans-serif;
  color: #fe8d0b;
  font-size: 1.875rem;
}
.title p {
  color: #004aad;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: -1.125rem;
  text-align: left;
}
.title {
  margin-top: -0.8125rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 179, 231, 0.2);
}
header img {
  max-width: 6.25rem;
  padding-right: 1.25rem;
}
nav, .date-info {
  background-color: rgba(0, 74, 173, 0.8);
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
}
nav button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: #fff;
  margin-top: 2px;
  margin-bottom: 6px;
  outline: none;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 0;
}
nav ul a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
}
nav a:hover {
  background-color: #003a79;
}
nav a:active { 
  color: #FE8D0B;
}
.hide, .current {
  color: #fea034;
}
nav ul.hide {
  display: none;
}
main h2 {
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.5625rem;
}
.heroSummary {
  position: relative;
}

.hero-pic img {
  max-width: 100%;
  height: auto;
  display: block;
}
.weathersummary {
  position: static;
  padding: 0.625rem 0.625rem 1.0625rem 0.625rem;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr); 
  background-color: #E8E8E8;
  margin-top: -.3rem;
  margin-bottom: -1.1rem;
}
.weatherSummaryTitle {
  margin: 0.3125rem 0.9375rem 0;
  padding-bottom: 0.25rem;
  font-weight: 600;
  grid-column: 1/3;
  text-align: center;
  color: #003A79;
  font-size: 1.375rem;
  font-weight: 800;
}
.weathersummary p {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  font-size: 1.125rem;
  font-weight: 600;
}
.weathercategories {  
  text-align: right;
}
.weatherNumbers {
  padding-right: 0;
  color: #003A79;
}
.weathercategories, .weatherNumbers {
  margin-top: 0.1875rem;
}
.fiveday {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-top: 0.9375rem;
  margin-bottom: -0.9375rem;
}
.fiveday th, td {
  border: 1px solid #404040;
  padding: 0.3125rem;
  text-align: center;
}
.daysOfWeek {
  background-color: rgba(0, 74, 173, 0.8);
  color: white;
  font-size: 1.1rem;
}
.dailyIcons {
  background-color: rgba(0, 74, 173, 0.4);
}
.dailyIcons img {
  max-width: 75%;
  height: auto;
}
.dailyHigh {
  background-color: rgba(0, 74, 173, 0.8);
  color: white;
}
.spotlight {
  margin: 2rem 0;
}
.spotlight h2 {
  text-align: left;
  padding-left: 1rem;
}
.upcoming {
  padding: 1rem 1rem;
  margin: .9rem .5rem -1.9rem .5rem;
  border: 2px solid #404040;
  border-radius: 10px;
  display: flex;
}
.upcoming h3 {
  margin-top: .6rem;
}
.upcoming li {
  font-size: 1.1rem;
}
.upcoming img {
  border-radius: 5px;
  box-shadow: 3px 3px 10px gray;
  max-width: 100%;
  height: auto;
}
.eventdetails {
  padding-left: .7rem;
}
.eventdetails li {
  font-size: 1rem;
}
.eventarticle {
  background-color: #E8E8E8;
  padding-top: 0.9375rem;
  margin: 3.5rem 0 1.4rem 0;
}
.articleimage {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.625rem;
  box-shadow: 5px 5px 20px gray;
  border-radius: 5px;
}
.communityevent h3 {
  font-family: 'Open Sans', Arial, sans-serif;
}
.communityevent p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.communityevent {
  padding: 0.625rem 2.5rem;
  margin-top: -0.625rem;
}
.communityevent a {
  word-wrap: break-word;
}
.pictureGallery {
  text-align: center;
}
.pictureGallery img[data-src] {
  filter: blur(0.2em);
}
.pictureGallery img {
  filter: blur(0em);
  transition: filter 0.5s;
}
.pictureGallery figure {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
.report {
  background-color: #E8E8E8;
  margin-top: -1.3rem;
}
.report h2 {
  padding-top: 1.5rem;
}
form fieldset {
  margin: 1.5rem .5rem;
  border: 2px solid #003A79;
  border-radius: 10px;
  padding: .5rem 2%;
  background-color: white;
}
form legend {
  color: #003A79;
  margin: 0 1.2rem;
  padding: 0 .5rem;
  font-weight: 600;
  font-size: 1.1rem;
}
form label.top, form div {
  display: block;
  padding: .8rem .3rem .7rem;
  color: #004AAD;
  font-size: .9rem;
}
#comments {
  border: solid 1px #003A79;
  padding: .75rem;
  margin-bottom: .3rem;
}
form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #003A79;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 17rem;
  background-color: #F5F5F5;
}
.slider {
  padding-top: .6rem;
  padding-bottom: .6rem;
}
form label.sbs {
  display: block;
  padding: .5rem 0;
  color: #555;
}
form input.submitBtn {
  border: none;
  background-color: #004AAD;
  color: white;
  border-radius: .5rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 15rem;
  height: 3rem;
  font-size: 1.3rem;
}
form label.top input:required {
  border-color: #FE8D0B;
  border-width: 2px;
}
form label.top input:required:valid {
 border-color: #003A79;
 border-width: 2px;
}
.thankyou {
  padding: 2.5rem;
  background-color: #E8E8E8;
}
.thankyou p {
  font-size: 1.2rem;
}
.hero img {
  max-width: 100%;
  height: auto;
}
.cards {
  padding: .5rem 3.2rem 1.1rem;
}
.cards section {
  border: 3px solid transparent;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding-bottom: 1.3rem;
  text-align: center;
  background-color: rgba(0, 74, 173, 0.8);
  box-shadow: 0 3px 4px 3px #737373;
  color: white;
}
.cards img {
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 4px 1px #595959;
  max-width: 100%;
  height: auto;
}
.cardimage {
  padding-top: 1rem;
}
.cards p {
  font-size: 1.1rem;
  margin: .5rem 0;
}
.cards p:first-of-type {
  font-style: italic;
  font-size: 1.4rem;
  margin: -.8rem 0 1.1rem 0;
}
.cards p:last-of-type {
  margin-bottom: 1.5rem; 
}
.rodeo {
  background-color: #E8E8E8;
  margin-top: -1rem;
  margin-bottom: .7rem;
  padding: 1rem 1rem 1rem 2rem;
}
.rodeo h2 {
  color: #003A79;
  text-align: left;
}
.rodeo p {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}
.rodeo p:first-of-type {
  margin-top: -.7rem;
}
.rodeo img {
  display: block;
  max-width: 100%;
  height: auto;
  box-shadow: 0.5px 0.5px 4px 1px #595959;
  border-radius: 10px;
  margin: 0 auto;
}
.rodeotext {
  font-size: 1.2rem;
  margin-top: 2rem;
}
.contactinfo {
  background-color: rgba(0, 74, 173, 0.4);
  margin-bottom: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .8rem 1rem;
}
.prestonMap {
  max-width: 100%;
  height: auto;
}
.addresses {
  padding-left: .8rem;
  font-size: .9rem;
  margin-top: -1.25rem;
}
.addresses p {
  margin-top: -.5rem;
}
.addresses h4 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1rem;
  margin-bottom: .875rem;
}
.socialMedia img {
  max-width: 1.5625rem;
  margin-right: 0.4375rem;
  margin-top: .625rem;
}
.date-info {
  padding: 0.0625rem 0 0.3125rem;
  margin-top: .625rem;
  color: white;
  font-size: 1rem;
}
#byui-link, #portal-page, #weather-link {
  color: white;
}
#dateModified {
  margin-top: -.625rem;
  margin-bottom: .625rem;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 25em) {
  .contactinfo {
    display: block;
    text-align: center;
  }
  .prestonMap {
    max-width: 50%;
  }
  .upcoming {
    display: block;
    text-align: left;
  }
  .upcoming img {
    display: none;
  }
}